<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<span class="form-title" style="font-size: 30px">
				<i class="fas fa-map-marked-alt"></i> Edit Shipping
			</span>
			<% if flash[:notice] %>
			 	<div class="bad-flash"><i class="fas fa-exclamation-circle">
			 		<%= flash[:notice]%></i>
			 	</div>
			<% end %>
			<%= form_with model: @shipping,url: customers_shipping_path,local: true do |f| %>
				<table class="table table-borderless" style="margin-top: 30px">
					<tr>
						<td style="width:200px">郵便番号(ハイフンなし)</td>
						<td><%= f.text_field :postcode %></td>
					</tr>
					<tr>
						<td>住所</td>
						<td><%= f.text_field :address, style:"width:400px" %></td>
					</tr>
					<tr>
						<td>宛名</td>
						<td><%= f.text_field :name %></td>
					</tr>
				</table>
			<div>
				<%= f.submit "変更する", class:"btn btn-warning", style:"margin-left:200px" %>
			</div>
			<% end %>
		</div>
	</div>
</div>