<div class="container" style="padding-bottom: 100px;">
	<div class="row">
		<div class="col-lg-12">
			<span class="form-title">
				<i class="fas fa-map-marked-alt"></i> My Shippings
			</span>
			<span style="margin-left: 10px;font-size: 15px;">
				<%= link_to ">back", customer_path(current_customer) %>
			</span>
			<% if flash[:create] %>
			 	<div class="good-flash"><i class="fas fa-check-circle"></i>
			 		<%= flash[:create]%>
			 	</div>
			<% end %>
			<table class="table table-bordered" style="margin-top: 30px;">
				<thead style= "background-color: #FCE77D" >
					<tr>
						<th>郵便番号</th>
						<th>住所</th>
						<th>宛名</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				<% @shippings.each do |shipping| %>
					<tr>
						<td class="align-middle"><%= shipping.postcode %></td>
						<td class="align-middle"><%= shipping.address %></td>
						<td class="align-middle"><%= shipping.name %></td>
						<td class="align-middle" style="text-align: center">
							<%= link_to "編集する",edit_customers_shipping_path(shipping),
									class: "btn btn-warning" %>
							<%= link_to "削除する",customers_shipping_path(shipping), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"},
									class: "btn btn-danger" %>
						</td>
					</tr>
				<% end %>
				</tbody>
			</table>
			<%= paginate @shippings %>
		</div>
	</div>
	<div class="row" style="margin-top: 30px">
		<div class="col-lg-12">
			<span class="form-title" style="font-size: 20px">New Shipping</span>
			<div id="error_explanation"><%= render "layouts/error", {object: @shipping} %></div>
			<%= form_for(@shipping, url: customers_shippings_path) do |f| %>
				<table class="table table-borderless">
					<tr>
						<td style="width:25%">郵便番号<br>(ハイフンなし)</td>
						<td><%= f.text_field :postcode, id:"postcode" %></td>
					</tr>
					<tr>
						<td>住所</td>
						<td><%= f.text_field :address, style:"width:100%", id:"address" %></td>
					</tr>
					<tr>
						<td>宛名</td>
						<td><%= f.text_field :name %></td>
					</tr>
				</table>
			<div style="text-align:center">
				<%= f.submit "保存する", class:"btn btn-warning submit-btn"%>
			</div>
			<% end %>
		</div>
	</div>
</div>