<div class="container" style="padding-bottom: 100px;">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h2 style="padding-bottom: 20px"><span class="form-title">Sign up</span></h2>
        <%= form_for(resource, as: resource_name,
            url: registration_path(resource_name)) do |f| %>
        <% if @customer.errors.any? %>
          <div>
            <ul>
              <% @customer.errors.full_messages.each do |message| %>
                <div class="bad-flash"><i class="fas fa-exclamation-circle"></i>
                  <%= message %>
              <% end %>
            </ul>
          </div>
        <% end %>
          <div class="row">
            <div class="col-lg-4">
              <p>ニックネーム<span style="font-size: 10px"></span></p>
            </div>
            <div class="col-lg-4">
               <%= f.text_field :account_name, autofocus: true, autocomplete: "off" %>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <p>自己紹介<span style="font-size: 10px"><br>(必須ではありません)</span></p>
            </div>
            <div class="col-lg-8">
               <%=f.text_area :introduction, rows:"2", style:"width:100%", autocomplete: "off"%>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <p>プロフィール画像<span style="font-size: 10px"><br>(必須ではありません)</span></p>
            </div>
            <div class="col-lg-8">
               <%= f.attachment_field :profile_image %>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <p>メールアドレス</p>
            </div>
            <div class="col-lg-4">
               <%= f.email_field :email, autocomplete: "off" %>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <p>パスワード(6文字以上)</p>
            </div>
            <div class="col-lg-3">
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>
          </div>

          <p style="font-size: 13px;padding-top: 20px" > ●以下は野菜の配送サービスご利用時に使用しますので、すぐに利用されない方は上記項目のみで
            新規登録可能です。<br>
            また、登録後にマイページより追記もできますのでご安心ください。
          </p>
          <div style="border:1px solid silver;padding: 10px">
            <div class="row">
              <div class="col-lg-4">
                <p>名前</p>
              </div>
              <div class="col-lg-4">
                 <%= f.text_field :name, autocomplete: "off" %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <p>郵便番号(ハイフンなし)</p>
              </div>
              <div class="col-lg-4">
                 <%= f.text_field :postcode, autocomplete: "off"%>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <p>住所</p>
              </div>
              <div class="col-lg-8">
                 <%= f.text_field :address, autocomplete: "off" ,style:"width:100%" %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <p>電話番号(ハイフンなし)</p>
              </div>
              <div class="col-lg-4">
                 <%= f.text_field :tel, autocomplete: "off"%>
              </div>
            </div>
          </div>
        　 <div class="row">
            <div class="col-lg-12", style="text-align:center;">
              <%= f.hidden_field :is_avtive, value: "有効" %>
              <%= f.submit "新規登録" ,class:"btn btn-warning btn-lg",
                style:"padding:5px 30px;margin-bottom:30px;" %>
            </div>
          </div>
        <% end %>
        <span class="font-md-sp">登録済の方は、
          <%= link_to "こちら", new_customer_session_path, style:"color:#F96167;" %>よりログインを行ってください
      </span>
    </div>
  </div>
</div>