<% @sum = 0 %>
<% recipe.cookings.each do |cooking| %>
	<%= form_for [recipe, cooking],remote: true do |f| %>
		<div class="row" style="margin-bottom: 10px">
			<div class="col-lg-1">
				<%= @sum += 1 %>.
			</div>
			<div class="col-lg-9">
				<%= f.text_area :content, style:"width:100%" %>
			</div>
			<div class="col-lg-2">
				<%= f.submit "変更", class:"btn btn-warning btn-sm" %>
				<%= link_to "削除", recipe_cooking_path(@recipe, cooking),method: :delete, class:"btn btn-danger btn-sm", remote: true %>
			</div>
		</div>
	<% end %>
<% end %>