<div class="container">
	<span class="form-title">New Recipe</span>
	<div class="row" style="margin-top: 30px">
		<div class="col-lg-6">
			<%= attachment_image_tag @recipe, :recipe_image, format:"jpg",
				fallback:"top_recipe.jpg", class:"recipe-image" %>
		</div>
		<div class="col-lg-6">
			<p style="border-bottom: 1px solid silver; font-size: 20px" >レシピ
				<%= link_to "編集", edit_recipe_path(@recipe),class:"btn btn-warning btn-sm", data: {"turbolinks" => false} %>
			</p>
			<div class="row">
				<div class="col-lg-3"><p>レシピ名</p></div>
				<div class="col-lg-9"><p><%= @recipe.title %></p></div>
			</div>
			<div class="row">
				<div class="col-lg-3"><p>紹介文</p></div>
				<div class="col-lg-9"><p><%= @recipe.introduction %></p></div>
			</div>
			<div class="row">
				<div class="col-lg-3"><p>分量(何人前)</p></div>
				<div class="col-lg-9"><p><%= @recipe.amount %></p></div>
			</div>
			<p style="border-bottom: 1px solid silver; font-size: 20px;margin-top:20px">材料
				<%= link_to "編集", edit_recipe_ingredient_path(@recipe, recipe_id: @recipe.id),class:"btn btn-warning btn-sm" %>
			</p>
			<% @ingredients.each do |ingredient| %>
				<div class="row" style="margin-bottom: 10px">
					<div class="col-lg-5">
						<%= ingredient.content %>
					</div>
					<div class="col-lg-7">
						<%= ingredient.amount %>
					</div>
				</div>
			<% end %>
		</div>
	</div>

	<div class="row" style="padding-top: 30px">
		<div class="col-lg-12">
			<p style="border-bottom: 1px solid silver; font-size: 20px" >作り方</p>
			<span class="newform_<%= @recipe.id %>">
				<%= render "newform", {cookings: @cookings, recipe: @recipe} %>
			</span>
			<%= form_for(@cooking, url:recipe_cookings_path, remote: true) do |f| %>
				<div class="row" style="padding-top: 30px;">
					<div class="col-lg-1"></div>
					<div class="col-lg-10">
						<%= f.text_area :content, rows:"2",style:"width:80%",
							placeholder:"作り方を入力する", class:"input-form" %>
					</div>
					<div class="col-lg-1">
						<%= f.hidden_field :recipe_id, value:@recipe.id %>
						<%= f.submit "追加", class:"btn btn-warning btn-sm" %>
					</div>
				</div>
			<% end %>
			<div style="text-align: center; margin: 50px 0 100px 0">
				<%= form_with(url: recipe_path(@recipe), method: :patch) do |f| %>
					<%= f.hidden_field :recipe_status, value:"完成" %>
					<%= f.submit "レシピを投稿する",class:"btn btn-warning",
						style:"padding: 5px 30px"  %>
				<% end %>
			</div>
		</div>
	</div>
</div>