<div class="container">
	<span class="form-title">Edit Recipe</span>
	<div class="row" style="margin-top: 30px">
		<div class="col-lg-6 col-12">
			<%= form_for(@recipe) do |f| %>
			<p>料理画像</p>
			<%= attachment_image_tag @recipe, :recipe_image, format:"jpg",
				fallback:"top_recipe.jpg", class:"recipe-image-show", id:"preview-image" %>
			<%= f.attachment_field :recipe_image, id:"select-image", style:"margin: 10px 0" %><br>
			<%= f.label :tag_list, 'タグ(間にはカンマ , をつけて下さい)',
				style:"margin-top:20px" %>
			<%= f.text_field :tag_list, value: @recipe.tag_list.join(','), class:"form-control",
				placeholder: "豚肉,玉ねぎ,パスタ、、、" %>
		</div>
		<div class="col-lg-6 col-12">
			<p style="border-bottom: 1px solid #F5F5F5; font-size: 20px" >レシピ</p>
			<div id="error_explanation"><%= render "layouts/error", {object: @recipe} %></div>
				<div class="row">
					<div class="col-lg-3">レシピ名</div>
					<div class="col-lg-9"><p><%= f.text_field :title, autocomplete: "off",
							style:"width:80%",placeholder:"レシピ名" %></p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3">紹介文</div>
					<div class="col-lg-9"><p><%= f.text_area :introduction, autocomplete: "off",rows:"3",style:"width:100%",placeholder:"ポイント、特徴など" %></p></div>
				</div>
				<div class="row">
					<div class="col-lg-3">分量</div>
					<div class="col-lg-9"><%= f.text_field :amount, autocomplete: "off",style:"width:80%",placeholder:"何人前 何食分" %></div>
				</div>
				<div style="text-align: center;margin: 20px 0">
					<%= f.submit "保存する", class:"btn btn-warning submit-btn" %>
				</div>
			<% end %>
			<p style="border-bottom: 1px solid silver; font-size: 20px" >材料</p>
			<% @recipe.ingredients.each do |ingredient| %>
				<div class="row" style="margin-bottom: 10px">
					<div class="col-lg-8 col-8 font-md-sp">
						<%= ingredient.content %>
					</div>
					<div class="col-lg-4 col-4 font-md-sp">
						<%= ingredient.amount %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<div class="row" style="margin-top:30px; padding-bottom: 100px;">
		<div class="col-lg-12">
			<p style="border-bottom: 1px solid silver; font-size: 20px" >作り方</p>
			<% @sum = 0 %>
			<% @recipe.cookings.each do |cooking| %>
				<div class="row" style="margin-bottom: 10px">
					<div class="col-lg-1 col-1 font-md-sp" style="text-align: right" >
						<%= @sum += 1 %>.
					</div>
					<div class="col-lg-11 col-11 font-md-sp">
						<%= cooking.content %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>