<div class="container" style="padding-bottom: 100px;">
	<div class="row">
		<div class="col-lg-12">
			<span class="form-title">Recipes
				<% if params[:tag_name] %>
					<span style="font-size: 15px;font-weight: bold"> タグ: [<%= @recipe_title %>]</span>
				<% elsif params[:q] %>
					<span style="font-size: 15px;font-weight: bold"> 検索: [<%= @search.title_cont %>]
					</span>
				<% end %>
			</span>
			<% if params[:q] or params[:tag_name] %>
				<span style="margin-left: 10px;font-size: 15px;">
					<%= link_to ">back", recipes_path %>
				</span>
			<% end %>
			<span style="float: right">
				<%= search_form_for @search, url: recipes_path do |f| %>
					<%= f.search_field :title_cont, class:"fa", placeholder: "\uf002 キーワード" %>
					<%= f.submit "検索" %>
				<% end %>
			</span>
			<div class="recipe-contents"  style="padding-top: 20px">
				<% @recipes.each do |recipe| %>
					<div class="recipe-content">
						<%= link_to recipe_path(recipe) do %>
							<%= attachment_image_tag recipe, :recipe_image, format:"jpg",
								fallback:"top_recipe.jpg", class:"recipe-image" %>
							<span style="font-size: 20px;">
								<i class="fas fa-utensils"> <%= recipe.title %></i>
							</span>
						<% end %>
							<span>
								<%= link_to customer_path(recipe.customer) do %>
								<i class="fas fa-user" style="color: #F96167">
									<span style="color: black"><%= recipe.customer.name %></span>
								</i>
								<% end %>
								<i class="fas fa-comment" style="margin: 0 50px;color: #F96167">
									<span style="color: black">
										<%= recipe.comments.count %>件
									</span>
								</i>
								<% if customer_signed_in? %>
									<% if recipe.favorited_by?(current_customer) %>
										<%= link_to recipe_favorites_path(recipe),
											method: :delete do %>
											<i class="fas fa-heart" style="color: #F96167"></i>
											<span style="color:black">
												<%= recipe.favorites.count %>
											</span>
										<% end %>
									<% else %>
										<%= link_to recipe_favorites_path(recipe),
											method: :post do %>
											<i class="fas fa-heart"></i>
											<span style="color:black">
												<%= recipe.favorites.count %>
											</span>
										<% end %>
									<% end %>
								<% else %>
									<i class="fas fa-heart" style="color: #F96167"></i>
									<span style="color:black">
										<%= recipe.favorites.count %>
									</span>
								<% end %>
							</span>
							<span style="font-size:12px;margin-top: 5px">
								<%= recipe.introduction %>
							</span>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>