<div class="container">
	<span class="form-title">New Recipe</span>
	<div class="row" style="margin-top: 30px">
		<div class="col-lg-6">
			<table class="table table-borderless">
				<tr>
					<th>レシピ名</th>
					<td><%= @recipe.title %></td>
				</tr>
				<tr>
					<th>紹介文</th>
					<td><%= @recipe.introduction %></td>
				</tr>
				<tr>
					<th>分量(何人分)</th>
					<td><%= @recipe.amount %></td>
				</tr>
				<tr><th>料理画像</th></tr>
			</table>
				<%= attachment_image_tag @recipe, :recipe_image, format:"jpg",
					fallback:"logo.jpg", size:"200x100" %><br>
		</div>
		<div class="col-lg-6">
<!-- 			<%= form_for(@recipe, url:new_ingredient_path, method: :get) do |f| %>
				<table class="table table-borderless">
					<tr>
						<th>レシピ名</th>
						<td><%= f.text_field :title, autocomplete: "off",
							style:"width:80%" %>
						</td>
					</tr>
					<tr>
						<th>紹介文</th>
						<td><%= f.text_area :introduction, autocomplete: "off",rows:"7",style:"width:100%" %></td>
					</tr>
					<tr>
						<th>分量(何人分)</th>
						<td><%= f.text_field :amount, autocomplete: "off",style:"width:80%" %></td>
					</tr>
					<tr><th>料理画像</th></tr>
				</table>
				<%= f.attachment_field :recipe_image %><br>
				<div style="text-align: center;margin: 20px 0">
					<%= f.submit "材料を追加する", class:"btn btn-warning" %>
				</div>
			<% end %> -->
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">Step</div>
	</div>
</div>