<div class="container">
	<span class="form-title">New Recipe</span>
	<div class="row" style="margin-top: 30px">
		<div class="col-lg-6">
			<%= form_for(@recipe) do |f| %>
			<p>料理画像</p>
			<%= f.attachment_field :recipe_image %><br>
			<%= f.label :tag_list, 'タグ(間にはカンマ , をつけて下さい)', style:"margin-top:20px" %>
			<%= f.text_field :tag_list, value: @recipe.tag_list.join(','), class:"form-control",
				placeholder: "豚肉,玉ねぎ,パスタ、、、" %>
		</div>
		<div class="col-lg-6">
			<p style="border-bottom: 1px solid #F5F5F5; font-size: 20px" >レシピ</p>
			<% if flash[:notice] %>
			 	<div class="bad-flash"><i class="fas fa-exclamation-circle">
			 		<%= flash[:notice]%></i>
			 	</div>
			<% end %>
				<div class="row">
					<div class="col-lg-3"></div>
					<div class="col-lg-9"><p><%= f.text_field :title, autocomplete: "off",
							style:"width:80%",placeholder:"レシピ名" %></p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3"></div>
					<div class="col-lg-9"><p><%= f.text_area :introduction, autocomplete: "off",rows:"3",style:"width:100%",placeholder:"紹介文" %></p></div>
				</div>
				<div class="row">
					<div class="col-lg-3"></div>
					<div class="col-lg-9"><p><%= f.text_field :amount, autocomplete: "off",style:"width:80%",placeholder:"分量(何人前)" %></p>
					</div>
				</div>
				<div style="text-align: center;margin: 20px 0">
					<%= f.submit "保存して材料を追加する", class:"btn btn-warning" %>
				</div>
			<% end %>
			<p style="border-bottom: 1px solid #F5F5F5; font-size: 20px" >材料</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<p style="border-bottom: 1px solid #F5F5F5; font-size: 20px" >作り方</p>
		</div>
	</div>
</div>