<% if flash[:update] %>
 	<div class="good-flash"><i class="fas fa-check-circle"></i><%= flash[:update]%></div>
<% end %>
<% ingredients.each do |ingredient| %>
	<%= form_for [recipe, ingredient],remote: true do |f| %>
		<div class="row" style="padding-top: 10px">
			<div class="col-lg-6">
				<%= f.text_field :content, placeholder:"具材" %>
			</div>
			<div class="col-lg-3">
				<%= f.text_field :amount, :size=>"8", placeholder:"分量" %>
			</div>
			<div class="col-lg-3">
				<%= f.submit "変更", class:"btn btn-warning btn-sm" %>
				<%= link_to "削除", recipe_ingredient_path(recipe, ingredient),
					method: :delete, data: {confirm: "本当に削除してもよろしいですか？"},
					class:"btn btn-danger btn-sm", remote: true %>
			</div>
		</div>
	<% end %>
<% end %>
<% if flash[:notice] %>
 	<div class="bad-flash"><i class="fas fa-exclamation-circle"><%= flash[:notice]%></i></div>
<% end %>