<% if flash[:update] %>
 	<div class="good-flash"><i class="fas fa-check-circle"></i><%= flash[:update]%></div>
<% end %>
<% recipe.ingredients.each do |ingredient| %>
	<%= form_for [recipe, ingredient],remote: true do |f| %>
		<div class="row" style="padding-top: 10px">
		<div id="move_<%= recipe.id %>" class="col-lg-2 col-2">
			<%= render 'move', { ingredient: ingredient, recipe: recipe } %>
		</div>
			<div class="col-lg-5 col-4">
				<%= f.text_field :content, placeholder:"具材" %>
			</div>
			<div class="col-lg-2 col-2">
				<%= f.text_field :amount, :size=>"8", placeholder:"分量" %>
			</div>
			<div class="col-lg-3 col-4">
				<%= f.submit "変更", class:"btn btn-warning btn-sm submit-btn-sm" %>
				<%= link_to "削除", recipe_ingredient_path(recipe, ingredient),
					method: :delete, data: {confirm: "本当に削除してもよろしいですか？"},
					class:"btn btn-danger btn-sm", remote: true %>
			</div>
		</div>
	<% end %>
<% end %>