<div class="container">
	<span class="form-title">Edit Ingredient</span>
	<div class="row" style="margin-top: 30px">
		<div class="col-lg-6">
			<%= attachment_image_tag @recipe, :recipe_image, format:"jpg",
				fallback:"top_recipe.jpg", class:"recipe-image" %>
		</div>
		<div class="col-lg-6">
			<p style="border-bottom: 1px solid silver; font-size: 20px" >レシピ</p>
			<% if flash[:create] %>
			 	<div class="good-flash"><i class="fas fa-check-circle"></i>
			 		<%= flash[:create]%>
			 	</div>
			<% end %>
			<div class="row">
				<div class="col-lg-3"><p>レシピ名</p></div>
				<div class="col-lg-9"><p><%= @recipe.title %></p></div>
			</div>
			<div class="row">
				<div class="col-lg-3"><p>紹介文</p></div>
				<div class="col-lg-9"><p><%= @recipe.introduction %></p></div>
			</div>
			<div class="row">
				<div class="col-lg-3"><p>分量(何人前)</p></div>
				<div class="col-lg-9"><p><%= @recipe.amount %></p></div>
			</div>

			<p style="border-bottom: 1px solid silver; font-size: 20px" >材料</p>
			<span class="newform_<%= @recipe.id %>">
				<%= render "newform", {ingredients: @ingredients, recipe: @recipe} %>
			</span>
			<%= form_for(@ingredient, url:recipe_ingredients_path, remote: true) do |f| %>
				<div class="row" style="padding-top: 30px;">
					<div class="col-lg-6">
						<%= f.text_field :content, placeholder:"追加する具材", class:"new_form" %>
					</div>
					<div class="col-lg-3">
						<%= f.text_field :amount, :size=>"8", placeholder:"分量", class:"new_form" %>
					</div>
					<div class="col-lg-3">
						<%= f.hidden_field :recipe_id, value:@recipe.id %>
						<%= f.submit "追加", class:"btn btn-warning btn-sm" %>
					</div>
				</div>
			<% end %>
			<div style="text-align: center; margin-top: 30px;">
				<!-- 作り方がまだ未入力の時 -->
				<% if @recipe.cookings.empty?  %>
					<%= link_to "保存する",edit_recipe_cookings_path(@recipe, flash: "create"),
					class:"btn btn-warning" %>
				<!-- 完成後、もしくは公開停止後の修正する時 -->
				<% elsif @recipe.recipe_status == "完成" or "未入力あり" or "準備中" %>
					<%= link_to "戻る",recipe_path(@recipe), class:"btn btn-warning" %>
				<!-- 作り方が入力済で、かつ一度も完成させてない時。材料がないとエラーメッセージ -->
				<% else %>
					<%= form_with(url: recipe_path(@recipe),remote: true,  method: :patch) do |f| %>
						<%= f.hidden_field :recipe_status, value:"完成" %>
						<%= f.submit "レシピを投稿する",class:"btn btn-warning",
							style:"padding: 5px 30px"  %>
					<% end %>
				<% end %>
			</div>

		</div>
	</div>
	<div class="row" style="margin-top:30px; padding-bottom: 100px;">
		<div class="col-lg-12">
			<% @sum = 0 %>
			<% @recipe.cookings.each do |cooking| %>
				<div class="row" style="margin-bottom: 10px">
					<div class="col-lg-1" style="text-align: right"  >
						<%= @sum += 1 %>.
					</div>
					<div class="col-lg-11">
						<%= cooking.content %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>