<div class="container">
	<span class="form-title">Edit Ingredient</span>
	<div class="row" style="margin-top: 30px">
		<div class="col-lg-6">
			<%= attachment_image_tag @recipe, :recipe_image, format:"jpg",
				fallback:"logo.jpg", class:"recipe-image" %>
		</div>
		<div class="col-lg-6">
			<p style="border-bottom: 1px solid silver; font-size: 20px" >レシピ
				<% if @recipe.customer_id == current_customer.id %>
					<%= link_to "編集", edit_recipe_path(@recipe),
						class:"btn btn-warning btn-sm" %>
					<%= link_to "削除", recipe_path(@recipe),method: :delete, class:"btn btn-danger btn-sm" %>
				<% end %>
			</p>
			<div class="row">
				<div class="col-lg-3"><p>レシピ名</p></div>
				<div class="col-lg-9"><p><%= @recipe.title %></p></div>
			</div>
			<div class="row">
				<div class="col-lg-3"><p>紹介文</p></div>
				<div class="col-lg-9"><p><%= @recipe.introduction %></p></div>
			</div>
			<div class="row">
				<div class="col-lg-3"><p>分量(何人前)</p></div>
				<div class="col-lg-9"><p><%= @recipe.amount %></p></div>
			</div>

			<p style="border-bottom: 1px solid silver; font-size: 20px" >材料</p>
			<% @ingredients.each do |ingredient| %>
				<%= form_for [@recipe, ingredient] do |f| %>
					<div class="row" style="padding-top: 10px">
						<div class="col-lg-6">
							<span>具材</span>
							<%= f.text_field :content %>
						</div>
						<div class="col-lg-3">
							<span>分量</span>
							<%= f.text_field :amount, :size=>"8" %>
						</div>
						<div class="col-lg-3">
							<%= f.submit "変更", class:"btn btn-warning btn-sm" %>
							<%= link_to "削除", recipe_ingredient_path(@recipe, ingredient),
								method: :delete, class:"btn btn-danger btn-sm" %>
						</div>
					</div>
				<% end %>
			<% end %>
			<div style="text-align: center; margin-top: 30px;">
				<%= link_to "変更を保存", recipe_path(@recipe),class:"btn btn-warning" %>
			</div>

		</div>
	</div>
	<div class="row" style="margin-top:30px; padding-bottom: 100px;">
		<div class="col-lg-12">
			<p style="border-bottom: 1px solid silver; font-size: 20px" >作り方</p>
			<% @sum = 0 %>
			<% @recipe.cookings.each do |cooking| %>
				<div class="row" style="margin-bottom: 10px">
					<div class="col-lg-8">
						<%= @sum += 1 %>.
						<%= cooking.content %>
					</div>
					<div class="col-lg-4">
						<span>写真(仮)</span>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>