<div class="container">
	<div class="row">
		<div class="col-lg-10 offset-lg-1">
			<span class="form-title">顧客一覧</span>
			<table class="table table-bordered" style="margin-top: 30px;">
				<tr class="table-active">
					<th>顧客id</th>
					<th>名前</th>
					<th>アカウント名</th>
					<th>メールアドレス</th>
					<th>購入回数</th>
					<th>ステータス</th>
				</tr>
				<% @customers.each do |customer| %>
				<tr>
					<td><%= customer.id %></td>
					<td>
						<%= link_to admins_customer_path(customer) do %>
							<%= customer.name %>
						<% end %>
					</td>
					<td><%= customer.account_name %></td>
					<td><%= customer.email %></td>
					<td>
						<%= link_to admins_orders_path(:customer_id => customer.id) do %>
							<%= customer.orders.count %>回
						<% end %>
					</td>
					<td><%= customer.is_active %></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
