<div class="container" style="padding-bottom: 100px;">
	<div class="row">
		<div class="col-lg-10 offset-lg-1">
			<span class="form-title">
				<span style="font-family: none"><%= @customer_title %></span>
			</span>
			<span style="float: right">
				<%= search_form_for @search, url: admins_customers_path do |f| %>
					<%= f.search_field :name_or_account_name_or_introduction_cont,
						class:"fa", placeholder: "\uf002 キーワード" %>
					<%= f.submit "検索" %>
				<% end %>
			</span>
			<table class="table table-bordered" style="margin-top: 30px;">
				<tr class="table-active">
					<th>顧客id</th>
					<th>名前</th>
					<th>アカウント名</th>
					<th>メールアドレス</th>
					<th>購入回数</th>
					<th>ステータス</th>
				</tr>
				<% @customers.each do |customer| %>
				<tr>
					<td><%= customer.id %></td>
					<td>
						<%= link_to admins_customer_path(customer) do %>
							<%= customer.name %>
						<% end %>
					</td>
					<td>
						<%= link_to admins_customer_path(customer) do %>
							<%= customer.account_name %>
						<% end %>
					</td>
					<td><%= customer.email %></td>
					<td>
						<% if customer.orders.count > 0 %>
							<%= link_to admins_orders_path(:customer_id => customer.id) do %>
								<%= customer.orders.count %>回
							<% end %>
						<% else %>
							なし
						<% end %>
					</td>
					<td><%= customer.is_active %></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
