<div class="container" style="padding-bottom: 100px;">
	<span class="form-title">顧客詳細</span>
	<span style="margin-left: 10px;font-size: 15px;"><%= link_to ">back", admins_customers_path %></span>
	<div class="row" style="margin-top: 30px;">
		<div class="col-lg-4" style="text-align: center;">
			<%= attachment_image_tag @customer, :profile_image, format:"jpg",
				fallback:"logo.jpg", class:"customer-image" %>
			<div style="margin:10px 0">
				<%= link_to customer_follows_path(@customer), style:"margin-right: 20px" do %>
					<%= @customer.following_customer.count %>フォロー
				<% end %>
				<%= link_to customer_followers_path(@customer) do %>
					<%= @customer.follower_customer.count %>フォロワー
				<% end %><br>
			</div>
		</div>
		<div class="col-lg-8">
			<table class="table table-bordered">
				<tr>
					<td class="align-middle" style="width: 200px;">ニックネーム</td>
					<td class="align-middle"><%= @customer.account_name %></td>
				</tr>
					<td class="align-middle">自己紹介</td>
					<td class="align-middle"><%= @customer.introduction %></td>
				<tr>
					<td class="align-middle">名前</td>
					<td class="align-middle"><%= @customer.name %></td>
				</tr>
				<tr>
					<td class="align-middle">郵便番号</td>
					<td class="align-middle"><%= @customer.postcode %></td>
				</tr>
				<tr>
					<td class="align-middle">住所</td>
					<td class="align-middle"><%= @customer.address %></td>
				</tr>
				<tr>
					<td class="align-middle">電話番号</td>
					<td class="align-middle"><%= @customer.tel %></td>
				</tr>
				<tr>
					<td class="align-middle">メールアドレス</td>
					<td class="align-middle"><%= @customer.email %></td>
				</tr>
				<tr>
					<td class="align-middle">会員ステータス</td>
					<td class="align-middle"><%= @customer.is_active %></td>
				</tr>
			</table>
			<div class="row">
				<div class="col-lg-4">
					<%= link_to "プロフィール編集", edit_admins_customer_path(@customer),
						data: {"turbolinks" => false}, class:"btn btn-warning" %>
				</div>
				<div class="col-lg-4">
					<%= form_with url: admins_orders_path, method: :get, local: true do |f| %>
						<%= f.hidden_field :customer_id, :value => @customer.id %>
						<%= f.submit "注文一覧" ,class:"btn btn-warning submit-btn" %>
					<% end %>
				</div>
				<div class="col-lg-4">
					<%= form_with url: admins_recipes_path, method: :get, local: true do |f| %>
						<%= f.hidden_field :customer_id, :value => @customer.id %>
						<%= f.submit "レシピ一覧" ,class:"btn btn-warning submit-btn" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top: 30px">
		<div class="col-lg-4"></div>
		<div class="col-lg-8">
			<span class="form-title" style="font-size: 20px">配送先</span>
			<table class="table table-bordered">
				<tr class="table-active">
					<th>郵便番号</th>
					<th>住所</th>
					<th>宛名</th>
				</tr>
				<% @customer.shippings.each do |shipping| %>
				<tr>
					<td><%= shipping.postcode %></td>
					<td><%= shipping.address %></td>
					<td><%= shipping.name %></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>