<div class="container">
	<span class="form-title" style="font-size: 30px;">
		<i class="fas fa-user"></i>
		<% if @customer == current_customer %>
			My Page
			<% else %>
			User Page
		<% end %>
	</span>
	<div class="row" style="margin-top: 30px;">
		<div class="col-lg-4" style="text-align: center;">
			<%= attachment_image_tag @customer, :profile_image, format:"jpg",
				fallback:"logo.jpg", class:"customer-image" %>
		</div>
		<div class="col-lg-8">
			<table class="table table-bordered">
				<tr>
					<td class="align-middle" style="width: 200px;">ユーザー名</td>
					<td class="align-middle"><%= @customer.account_name %></td>
				</tr>
				<tr>
					<td class="align-middle" style="width: 200px;">自己紹介</td>
					<td class="align-middle"><%= @customer.introduction %></td>
				</tr>
				<% if @customer == current_customer %>
				<tr>
					<td class="table-active align-middle">名前</td>
					<td class="align-middle"><%= @customer.name %></td>
				</tr>
				<tr>
					<td class="table-active align-middle">郵便番号</td>
					<td class="align-middle"><%= @customer.postcode %></td>
				</tr>
				<tr>
					<td class="table-active align-middle">住所</td>
					<td class="align-middle"><%= @customer.address %></td>
				</tr>
				<tr>
					<td class="table-active align-middle">電話番号</td>
					<td class="align-middle"><%= @customer.tel %></td>
				</tr>
				<tr>
					<td class="table-active align-middle">メールアドレス</td>
					<td class="align-middle"><%= @customer.email %></td>
				</tr>
				<% end %>
			</table>
			<% if @customer == current_customer %>
			<div>
				<%= link_to "いいねレシピ", favorites_path(@customer),
					class:"btn btn-warning"%>
				<%= link_to "プロフィール編集", edit_customer_path(current_customer),
					class:"btn btn-warning", style:"margin:0 20px"  %>
				<%= link_to "配送先一覧", customers_shippings_path,
					class:"btn btn-warning" %>
				<%= link_to "注文一覧", customers_orders_path,
					class:"btn btn-warning", style:"margin:0 20px" %>
			</div>
			<% end %>
		</div>
	</div>

	<div class="row" style="margin-top: 30px">
		<div class="col-lg-12" style="margin-bottom: 100px;">
			<span class="form-title" style="font-size: 20px;">
				<i class="fas fa-utensils"></i>
				<% if @customer == current_customer %>
					My Recipes
					<% else %>
					User Recipes
				<% end %>
			</span>
			<% if @customer == current_customer %>
			<p>●作成中</p>
				<div class="recipe-contents"  style="padding: 20px 0;border-bottom: 1px silver solid">
					<% @close_recipes.each do |recipe| %>
						<div class="recipe-content">
							<%= link_to recipe_path(recipe) do %>
								<%= attachment_image_tag recipe, :recipe_image, format:"jpg",
									fallback:"top_recipe.jpg", class:"recipe-image" %>
								<span style="font-size: 20px">
									<i class="fas fa-utensils"> <%= recipe.title %> </i>
								</span>
								<span>作成段階:<%= recipe.recipe_status %></span>
							<% end %>
						</div>
					<% end %>
				</div>
			<% end %>
			<% if @customer == current_customer %><p>●公開中</p><% end %>
			<div class="recipe-contents"  style="padding-top: 20px">
				<% @open_recipes.each do |recipe| %>
					<div class="recipe-content">
						<%= link_to recipe_path(recipe) do %>
							<%= attachment_image_tag recipe, :recipe_image, format:"jpg",
								fallback:"top_recipe.jpg", class:"recipe-image" %>
							<p style="font-size: 20px">
								<i class="fas fa-utensils"> <%= recipe.title %></i>
							</p>
						<% end %>
						<span>
							<i class="fas fa-comment" style="color: #F96167;"></i>
								<span style="color: black"><%= recipe.comments.count %>件</span>
							<i class="fas fa-heart" style="color: #F96167;margin-left: 20px;"></i>
								<span style="color:black"><%= recipe.favorites.count %></span>
							<i class="fas fa-paw", style="color: #F96167; margin-left: 20px;"></i>
								<%=  recipe.impressionist_count %>
							<span><i class="fas fa-calendar-alt"style="color: #F96167;
								margin-left: 20px;"></i><%= recipe.created_at.strftime('%Y/%m/%d')%>
							</span>
						</span>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>