<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<span class="form-title" style="font-size: 30px">
				<i class="fas fa-shopping-cart"></i>New Order
			</span>
			<div style="margin-top: 10px">
				<%= form_with(url: order_confirm_path, method: :get, local: true) do |f| %>

					<span class="form-title" style="font-size: 20px;">
						<i class="fas fa-comment-dollar"></i>支払い方法
					</span>
					<div style="margin-left: 80px;">
						<p style="margin-top: 10px">
							<label>
								<%= f.radio_button :payment_method, "クレジットカード", checked: true %>		クレジットカード
							</label>
							<label style="margin-left: 30px">
								<%= f.radio_button :payment_method, "銀行振込" %>銀行振込
							</label>
						</p>
					</div>
					<div style="border-top: 1px silver solid;padding-top: 20px;">
					<span class="form-title" style="font-size: 20px;">
						<i class="fas fa-shipping-fast"></i>お届け先
					</span>
					<% if flash[:notice] %>
					 	<div class="bad-flash"><i class="fas fa-exclamation-circle">
					 		<%= flash[:notice]%></i>
					 	</div>
					<% end %>
					<div style="margin-left: 80px">
						<p>
							<label><%= f.radio_button :order_address, "1", checked: true %>
								ご自身の住所
							</label>
							<div style="margin-left: 40px">
								<%= "郵便番号：" + current_customer.postcode %><br>
								<%= "住所：" + current_customer.address %><br>
								<%= "宛名：" + current_customer.name %>
							</div>
						</p>
						<p>
							<label>
								<%= f.radio_button :order_address, "2" %>登録済み住所から選択
							</label>
							<div style="margin-left: 40px">
							 <%= f.collection_select(:select_address, @shipping, :id,:finally_address)%>
							</div>
						</p>
						<p>
							<label>
							<%= f.radio_button :order_address, "3" %>新しいお届け先
							</label>
								<div style="margin-left: 40px">
									<div class="row">
										<div class="col-lg-8">
											<table class="table table-borderless">
												<tr>
													<td>郵便番号(ハイフンなし)</td>
													<td><%= f.text_field :postcode %></td>
												</tr>
												<tr>
													<td>住所</td>
													<td><%= f.text_field :address,
														style:"width:100%;" %></td>
												</tr>
												<tr>
													<td>宛名</td>
													<td><%= f.text_field :name %></td>
												</tr>
											</table>
										</div>
										<div class="col-lg-4"></div>
									</div>
								</div>
						</p>
					</div>
					</div>
					<div style="text-align: center; margin-left: 80px;">
						<%= f.submit "確認画面へ進む", class:"btn btn-warning btn-center" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>