<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h2 style="padding-bottom: 20px"><span>管理者ログイン</span></h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="row">
            <div class="col-lg-4">
              <p>メールアドレス</p>
            </div>
            <div class="col-lg-4">
               <%= f.email_field :email, autocomplete: "off",style:"width:100%" %>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <p>パスワード</p>
            </div>
            <div class="col-lg-4">
              <%= f.password_field :password, autocomplete: "off",style:"width:100%" %>
            </div>
          </div>

        　 <div class="row">
            <div class="col-lg-12", style="text-align:center;">
              <%= f.submit "ログイン" ,class:"btn btn-warning btn-lg",
                style:"padding:5px 30px;margin-bottom:30px;" %>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12", style="text-align:center;">
              <%= link_to '簡単ログイン', homes_admin_sign_in_path, method: :post,class:"btn btn-warning btn-lg" %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>