<div class="container" style="padding-bottom: 100px;">
	<div class="row">
		<div class="col-lg-12 col-xs-12 col-sm-12">
			<div class="top-images">
				<div class="top1">
					<div class="top-image-text">Welcome to Delitable</div>
				</div>
				<div class="top2">
					<div class="top-image-text">Welcome to Delitable</div>
				</div>
				<div class="top3">
					<div class="top-image-text">Welcome to Delitable</div>
				</div>
				<div class="top4">
					<div class="top-image-text">Welcome to Delitable</div>
				</div>
				<div class="top5">
					<div class="top-image-text">Welcome to Delitable</div>
				</div>
			</div>
			<div style="margin:30px auto ">
				<% if flash[:notice] %>
				 	<div class="good-flash"><i class="fas fa-check-circle"></i>
				 		<%= flash[:notice]%>
				 	</div>
				<% end %>
				<span class="form-title">
					<% if customer_signed_in? %>
						Enjoy Delitable!
					<% else %>
						Welcome to Delitable!
					<% end %>
				</span>
			</div>
			<p class="introduction-text">
			   当サイトは食材の配送サービスやレシピ投稿・閲覧をお楽しみいただけます<br>
				初めての方はまずは下記『About』にて、詳しい説明をご確認ください
			</p>

			<div class="top-contents">
				<%= link_to products_path, data: {"turbolinks" => false} do %>
					<div class="top-content top-vegetable">
						<div class="top-content-text">
								<span>[Delivary]<br>
								~野菜の配送サービス~</span>
						</div>
					</div>
				<% end %>
				<%= link_to about_path, data: {"turbolinks" => false} do %>
					<div class="top-content top-about">
						<div class="top-content-text">
								<span>[About]<br>
								~Delitableの紹介~</span>
						</div>
					</div>
				<% end %>
				<%= link_to recipes_path, data: {"turbolinks" => false} do %>
					<div class="top-content top-recipe">
						<div class="top-content-text">
								<span>[Recipe]<br>
								~レシピの共有~</span>
						</div>
					</div>
				<% end %>
			</div>
			<div class="hidden-tb hidden-sp">
				<div style="margin-bottom: 50px;">
					<span class="form-title" style="margin-right: 20px; font-size: 25px;">
						<i class="fas fa-utensils"></i> Recipes
					</span>
					<div class="recipe-contents" style="justify-content: center;">
						<% @recipes.shuffle.first(3).each do |recipe| %>
						<div class="recipe-content">
							<%= link_to recipe_path(recipe), class:"recipe-select" do %>
							<div style="position: relative;">
								<%= attachment_image_tag recipe, :recipe_image, format:"jpg",
									fallback:"top_recipe.jpg", class:"recipe-image" %>
								<span style="font-size:12px;margin-top: 5px" class="hidden-sp recipe-intro">
									<%= recipe.introduction.truncate(40) %>
								</span>
							</div>
								<span style="font-size: 18px;">
									<i class="fas fa-utensils font-md-sp" style="margin-top: 5px;">
										<%= recipe.title.truncate(15) %>
									</i>
								</span>
							<% end %>
								<span class="hidden-sp hidden-tb">
									<%= link_to customer_path(recipe.customer) do %>
										<i class="fas fa-user" style="color: #F96167"></i>
											<span style="color: black"><%= recipe.customer.account_name %>
											</span>
									<% end %>
									<span style="margin: 0 30px;">
										<i class="fas fa-comment" style="color: #F96167"></i>
											<span style="color: black"><%= recipe.comments.count %>件</span>
									</span>
									<% if customer_signed_in? %>
										<span class="favorite_<%= recipe.id %>" >
											<%= render "recipes/favorite", recipe: recipe %>
										</span>
									<% else %>
											<i class="fas fa-heart" style="color: #F96167"></i>
											<span style="color:black">
												<%= recipe.favorites.count %>
											</span>
									<% end %>
									<i class="fas fa-paw", style="color: #F96167; margin-left:30px;"></i>
									<%= recipe.impressionist_count %>
								</span>
						</div>
						<% end %>
					</div>
					<span style="float: right;"><%= link_to "more_Recipes > ", recipes_path %></span>
				</div>

				<span class="form-title" style="margin-right: 20px; font-size: 25px;">
					<i class="fas fa-seedling"></i>Vegetables
				</span>
				<div class="product-contents" style="padding-top: 20px; justify-content: center;">
					<% @products.shuffle.first(4).each do |product| %>
						<div class="product-content" style="margin-bottom: -10px;">
							<%= link_to product_path(product) do %>
								<%= attachment_image_tag product, :product_image, format:"jpg",
									fallback:"top_vegetable.jpg", class:"product-image" %>
							<p>
								<i class="fas fa-seedling"></i><%= product.name %>：<br class="br-sp"><br class="br-tb">
								¥<%= product.price %>円
							</p>
							<% end %>
						</div>
					<% end %>
				</div>
				<span style="float: right;"><%= link_to "more_Vegetables > ", products_path %></span>
			</div>
		</div>
	</div>
</div>
