<div class="container" style="padding-bottom: 100px;">
	<div class="row">
		<div class="col-lg-12">
			<span class="form-title" style="font-size: 30px">
				<i class="fas fa-shopping-cart"></i>Cart</span>
			<span style="float: right">
				<%= link_to "カートを空にする" , cart_items_destroy_all_path,method: :delete,
				data: {confirm: "本当に削除してもよろしいですか？"}, class:"btn btn-danger" %>
			</span>
			<% if flash[:create] %>
				<div class="good-flash"><i class="fas fa-check-circle"></i> <%= flash[:create]%></div>
			<% end %>
			<% if flash[:update] %>
				<div class="good-flash"><i class="fas fa-check-circle"></i> <%= flash[:update]%></div>
			<% end %>
			<% if flash[:notice] %>
			 	<div class="bad-flash"><i class="fas fa-exclamation-circle"><%= flash[:notice]%></i></div>
			<% end %>
			<div style="margin-top: 20px;">
				<table class="table table-bordered">
					<thead style="background-color:#FCE77D">
						<tr>
							<th>商品名</th>
							<th>単価(税込)</th>
							<th>数量</th>
							<th>小計</th>
							<th></th>
						</tr>
					</thead>
					<% @sum = 0 %>
					<% @cart_items.each do |cart_item| %>
					<tr>
						<td>
							<%= attachment_image_tag cart_item.product, :product_image,
								format: "jpg", size:"80x50", fallback:"top_vegetable.jpg" %>
							<%= cart_item.product.name %>
						</td>
						<td class="align-middle">
							<%= (cart_item.product.price * 1.1).to_i %>円
						</td>
						<td class="align-middle">
							<%= form_with model:cart_item, url:customers_cart_item_path(cart_item),method: :patch, local: true do |f| %>
							<%= f.text_field :count, :size=>"3" %>
							<%= f.submit "更新", class:"btn btn-warning btn-sm" %>
							<% end %>
						</td>
						<td class="align-middle">
							<%= (cart_item.product.price * cart_item.count * 1.1).to_i %>円
							<% @sum+=(cart_item.product.price * cart_item.count * 1.1).to_i %>
						</td>
						<td class="align-middle", style="text-align: center">
							<%= link_to "削除する", customers_cart_item_path(cart_item),
								method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, 
								class:"btn btn-secondary" %>
						</td>
					</tr>
					<% end %>
				</table>
			</div>
			<div>
				<span>
					<%= link_to "買い物を続ける", products_path, class:"btn btn-warning" %>
				</span>
				<div style="float: right;">
					<table class="table table-bordered">
					<tr>
						<td class="table-active">合計金額</td>
						<td><%= @sum.to_i %>円</td>
					</tr>
					</table>
				</div>
			</div>
			<div style="text-align: center; margin-left: 80px;">
				<%= link_to "注文情報を入力する", new_customers_order_path,
					class:"btn btn-warning btn-center" %>
			</div>
		</div>
	</div>
</div>