<div class="container">
  <span class="form-title">商品情報編集</span>
  <%= form_with(url: admins_product_path, model: @product, method: :patch,local:true)do |f| %>
  	<div class="row" style="padding-top: 30px">
  		<div class="col-lg-3">
            <div style="margin-bottom:20px;">
              <%= f.attachment_field :product_image, class: "product_image" %>
            </div>
      </div>
      <div class="col-lg-7 offset-lg-1">
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-lg-3">
              <p>商品名　　</p>
            </div>
            <div class="col-lg-9">
              <%= f.text_field :name, autocomplete: "off", style:"width:300px" %>
            </div>
          </div>

          <div class="row" style="margin-bottom: 10px;">
            <div class="col-lg-3">
              <p>商品説明　</p>
            </div>
           <div class="col-lg-9" >
             <%= f.text_area :introduction, autocomplete: "off",rows:"5", style:"width:300px" %>
           </div>
          </div>

            <div class="row" style="margin-bottom: 10px;">
              <div class="col-lg-3">
                <p>ジャンル　</p>
              </div>
              <div class="col-lg-9">
                  <%= f.collection_select :genre_id, Genre.all,
                     :id, :name, include_blank: "-- 選択してください --" ,style:"width:300px:" %>
              </div>
            </div>

            <div class="row" style="margin-bottom: 10px;">
              <div class="col-lg-3">
                <p>税抜価格　</p>
              </div>
              <div class="col-lg-9">
                <%= f.text_field :price, autocomplete: "off" ,style:"width:300px" %>円
              </div>
            </div>

            <div class="row" style="margin-bottom: 10px;">
              <div class="col-lg-3">
                <p>販売<br>ステータス</p>
              </div>
              <div class="col-lg-9">
                  <%= f.select :is_active, Product.is_actives.keys,
                    include_blank: "-- 選択してください --" %>
              </div>
            </div>
        </div>
    </div>
    <div style="float: right" >
      <%= f.submit "変更", class:"btn btn-warning", style:"padding: 5px 30px;" %>
    </div>

  <% end %>
</div>
