<div class="container">
	<div class="row">
		<div class="col-lg-10 offset-lg-1">
			<span class="form-title">商品一覧</span>
			<span style="float: right">
				<%= link_to "新規作成", new_admins_product_path,
					class:"btn btn-warning" %>
			</span>
			<table class="table table-bordered" style="margin-top: 30px;">
				<tr class="table-active">
					<th>商品id</th>
					<th>商品名</th>
					<th>税抜き価格</th>
					<th>ジャンル</th>
					<th>ステータス</th>
				</tr>
				<% @products.each do |product| %>
				<tr>
					<td><%= product.id %></td>
					<td>
						<%= link_to admins_product_path(product) do %>
							<%= product.name %>
						<% end %>
					</td>
					<td><%= product.price %>円</td>
					<td><%= product.genre.name %></td>
					<td><%= product.is_active %></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
