<div class="container">
	<div class="row">
		<%= render "products/genre_sidebar", genres: @genres %>
		<div class="col-lg-10">
			<span class="form-title">
				<i class="fas fa-seedling"></i> <%= @index_title %>
				<% if params[:q] %>
					<span style="font-size: 15px;font-family: none;">検索: [<%= @search.name_cont %>]
					</span>
				<% end %>
			</span>
			<% if params[:q] or params[:genre_id] %>
				<span style="margin-left: 10px;font-size: 15px;">
					<%= link_to ">back", products_path %>
				</span>
			<% end %>
			<span style="float: right">
				<%= search_form_for @search, url: products_path do |f| %>
					<%= f.search_field :name_cont, class:"fa", placeholder: "\uf002 キーワード" %>
					<%= f.submit "検索" %>
				<% end %>
			</span>
			<div class="product-contents"  style="padding-top: 20px">
				<% @products.each do |product| %>
					<div class="product-content">
						<%= link_to product_path(product) do %>
							<%= attachment_image_tag product, :product_image, format:"jpg",
								fallback:"top_vegetable.jpg", class:"product-image" %>
						<p>
							<i class="fas fa-seedling"></i><%= product.name %>：¥<%= product.price %>円
						</p>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
