<div class="container">
	<div class="row">
		<%= render "products/genre_sidebar", genres: @genres %>
		<div class="col-lg-5">
			<span class="form-title"><i class="fas fa-seedling"></i> Vegetable</span>
			<%= attachment_image_tag @product, :product_image, format:"jpg",
				fallback:"top_vegetable.jpg", class:"product-show",style:"margin-top:20px" %>
		</div>
		<div class="col-lg-5", style="padding-top: 80px">
			<p style="font-size: 25px;"><i class="fas fa-seedling fa-lg"></i><%= @product.name %></p>
			<p style="font-size: 18px;padding: 15px 0 30px 0"><%= @product.introduction %></p>
			<span style="float: right">
				<p style="font-size: 25px"><%= (@product.price * 1.1).to_i %>円(税込)</p>
			</span>
		</div>
	</div>
	<div class="form-row align-items-center", style="float: right">
		<div class="col-auto">
			<% if customer_signed_in? %>
				<%= form_with model: @cart_item,
					url: customers_cart_items_path do |f| %>
					<div class="field">
							<%= f.select :count, [["1","1"],["2","2"],["3","3"],["4","4"],["5","5"], ["6","6"],["7","7"],["8","8"],["9","9"],["10","10"]],
									include_blank: "個数選択" %>
							<%= f.hidden_field :product_id, :value => @product.id %>
							<%= f.submit "カートに入れる", class:"btn btn-warning" %>
					</div>
					<span style="font-size: 10px;float: right">(1度に10個までご購入いただけます)</span>
				<% end %>
			<% else %>
				<p>
					購入には
					<%= link_to "新規登録", new_customer_registration_path %>、または
					<%= link_to "ログイン", new_customer_session_path %>
					が必要です
				</p>
			<% end %>
		</div>
	</div>
</div>
