<div class="container" style="padding-bottom: 100px;">
	<div class="row">
		<div class="col-lg-10 offset-lg-1">
			<span class="form-title" style="font-family: none"><%= @order_title %></span>
			<% if params[:q] or params[:customer_id] %>
				<span style="margin-left: 10px; font-size: 15px"><%= link_to ">back", :back %></span>
			<% end %>
			<span style="float: right">
				<%= search_form_for @search, url: admins_orders_path do |f| %>
					<%= f.search_field :name_or_address_or_customer_name_cont,
						class:"fa", placeholder: "\uf002 キーワード" %>
					<%= f.submit "検索" %>
				<% end %>
			</span>
			<table class="table table-bordered" style="margin-top: 30px;">
				<tr class="table-active">
					<th>購入日時/注文詳細</th>
					<th>購入者</th>
					<th>配送先</th>
					<th>注文内容</th>
					<th>合計金額</th>
					<th>ステータス</th>
				</tr>
				<% @orders.each do |order| %>
				<tr>
					<td class="align-middle" >
						<%= link_to admins_order_path(order) do %>
							<%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
						<% end %>
					</td>
					<td class="align-middle" >
						<%= order.name %>
					</td>
					<td class="align-middle" >
						宛名:<%= order.name %>
						〒:<%= order.postcode %><br>
						住所:<%= order.address %>
					</td>
					<td class="align-middle" >
						<% order.order_details.each do |order_detail| %>
							<%= order_detail.product.name %>：<%= order_detail.count %>個
							<br>
						<% end %>
					</td>
					<td class="align-middle" >
						<%= order.total_products_cost.to_i + order.postage.to_i %>円
					</td>
					<td class="align-middle" ><%= order.order_status %></td>
				</tr>
				<% end %>
			</table>
			<%= paginate @orders %>
		</div>
	</div>
</div>
